.app-sidenav-container {
  flex: 1;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;


   position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
}

.app-sidenav-content {
  display: flex;
  height: 100%;

  flex-direction: column;
}

.app-sidenav {
  width: 240px;
}

.wrapper {
  margin: 50px;
}
