

<mat-sidenav-container class="app-sidenav-container"
                       [class.dark-theme]="isDarkTheme"
                       [dir]="dir">

  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
                [mode]="isScreenSmall() ? 'over' : 'side'"
                [opened]="!isScreenSmall()">

    <mat-toolbar color="primary">
        Contacts
    </mat-toolbar>

    <mat-nav-list>
      <!-- Binding to users observable which is why async pipe needed -->
        <mat-list-item *ngFor="let user of users | async">
           <a matLine [routerLink]="['/contactmanager',user.id]">
              <mat-icon svgIcon="{{ user.avatar }}"></mat-icon>  {{ user.name }}
            </a>

        </mat-list-item>
      </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <!-- sidenav listens for events sent by menu in toolbar  -->
    <app-toolbar
        (toggleSidenav)="sidenav.toggle()"
        (toggleTheme)="toggleTheme()"
        (toggleDir)="toggleDir()">
    </app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
