<div class='flex-container' fxLayout.xs='column'> 
  <div class='flex-item'>1</div>
  <div class='flex-item'>2</div>
  <div class='flex-item'>3</div>
  <div class='flex-item'>4</div>
  <div class='flex-item'>5</div>
  <div class='flex-item'>6</div>
</div>
